/* ============================================= */
/* 		Input                           	     */
/* ============================================= */

#search {
    width: 60%;
    padding: 12px 20px 12px 8px;
    font-size: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 1em auto;
    display: block;
}

::placeholder {
    color: #787a7a;
}